.main {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;

  @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
  }
}

.column1 {
  align-items: center;
  background: linear-gradient(
    45deg,
    var(--mantine-color-lightBlue-6),
    var(--mantine-color-hotPink-4)
  );
  color: white;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 100px;
}

.title {
  font-size: 60px;
  @media (min-width: $mantine-breakpoint-sm) {
    font-size: 72px;
  }
}

.subtitle {
  font-size: 22px;
  @media (min-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.column2 {
  justify-content: center;
  @media (min-width: $mantine-breakpoint-sm) {
    align-items: center;
  }
}
